<div class='container'>
	<h3>Productos que se necesitan pedir</h3>
	<table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Marca</th>
        <th>Cantidad</th>
        <th>Unidades</th>
        <th>Minimo Necesario por Día</th>
      </tr>
    </thead>
    <tbody>
    {{#each productos as |item|}}
    <tr>
	    <td>{{item.nombre}}</td>
		<td>{{item.marca}}</td>
		<td>{{item.cantidad}}</td>
		<td>{{item.unidades}}</td>
		<td>{{item.minAceptable}}</td>
    </tr>
    {{else}}
	<tr>
	<p>No se encontraron Productos</p>
	</tr>
	{{/each}}
    </tbody>
	</table>
    <h3>Pedidos Pendientes</h3>
    <table class="table">
    <thead>
      <tr>
        <th>Agente de Ventas</th>
        <th>Provedor</th>
        <th>Fecha de Elaboracion</th>
        <th>Telefono</th>
        <th>Estatus</th>
        <th>Productos</th>
      </tr>
    </thead>
    <tbody>
      {{#each pedidos as |item|}}
      <tr>
    <td>{{item.agente}}</td>
    <td>{{item.provedor}}</td>
    <td>{{item.fechaElabo}}</td>
    <td>{{item.telefono}}</td>
    <td>{{item.status}}</td>
    <td>{{textarea rows="5" cols="40" value=item.contenido disabled='disabled'}}</td>
    </tr>
    {{else}}
    <tr>
    <p>No se encontraron Productos</p>
    </tr>
{{/each}}
    </tbody>
  </table>
</div>